<div class="row">
  <div class="col-lg-4">
    <%= form.label(:transaction_type, class: 'required-label') %>
    <%= form.select :transaction_type_id, transaction_types_collection, { include_blank: 'Selecione o tipo' }, { class: 'form-control', required: true } %>
  </div>
  <div class="col-lg-8">
    <%= form.label(:value, class: 'required-label') %>
    <%= form.text_field(:value, class: 'form-control') %>
  </div>
</div>
