.skin {
  .float {
    .progress {
      height: 0.7rem;
      border-radius: 0.25rem;
      background: linear-gradient(to right, #3d818f 7%, #84b235 7%, #84b235 15%, #dfc04a 15%, #dfc04a 37%, #ef8641 37%, #ef8641 44%, #eb5757 44%, #eb5757 0);
    }
  }
}
